<% provide :title, 'Micropost' %>

<div class="row">
	<!-- <%= render 'messages/nav' %> -->

<div class="col-md-9">

	<%= render @micropost %>

<!-- 	<p class="text-center">
			<%= link_to 'delete', @micropost, method: :delete, 
			data: { confirm: 'Are you sure?' }, class: "btn btn-large" %>
	</p> -->

</div>